<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itcast.goods.mapper.SkuMapper">
    <resultMap id="skuResultMap" type="cn.itcast.model.TbSku">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="sn" jdbcType="VARCHAR" property="sn"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="INTEGER" property="price"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="alert_num" jdbcType="INTEGER" property="alertNum"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="images" jdbcType="VARCHAR" property="images"/>
        <result column="weight" jdbcType="INTEGER" property="weight"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="spu_id" jdbcType="VARCHAR" property="spuId"/>
        <result column="category_id" jdbcType="INTEGER" property="categoryId"/>
        <result column="category_name" jdbcType="VARCHAR" property="categoryName"/>
        <result column="brand_name" jdbcType="VARCHAR" property="brandName"/>
        <result column="spec" jdbcType="VARCHAR" property="spec"/>
        <result column="sale_num" jdbcType="INTEGER" property="saleNum"/>
        <result column="comment_num" jdbcType="INTEGER" property="commentNum"/>
        <result column="status" jdbcType="CHAR" property="status"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
    </resultMap>

    <select id="findById" parameterType="java.lang.String" resultMap="skuResultMap">

                select * from tb_sku where id = #{skuId}

    </select>
</mapper>